.page-header
  h3 = t('lab.edit.title')

= render 'form'

.page-header
  h3 = t('lab.edit.destroy')

p = t('lab.edit.destroy_alert')

= link_to t('lab.edit.destroy'), laboratory_path(@laboratory), method: :delete, data: { confirm: t('lab.edit.destroy_confirmation', lab_name: @laboratory.name)}, class: "btn btn-danger"
