// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stocks-container {
  margin-top: 5%;
}

.stocks-brand > img {
  width: 40%;
  height: 40%;
  opacity: 0.3;
}
