// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stocks-container {
  ul {
    list-style: none;
    max-height: 75vh;
    overflow-y:scroll;
    padding-left: 20%;
  }

  .panel {
    float: left;
    width: 100%;
    border-radius: 15px;
    color: #5E5E5E;
    margin: 2% 0 5% 0;

    i {
      color: #4aaaa5;
    }

    a, a:hover {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      color: #4aaaa5;
    }
  }
}
