.page-header
  h3 = t("material_category.edit.title", category: t("material_category.categories.#{@reagent.actable_type.underscore}"))

= render 'form'

.page-header
  h3 = t("material_category.edit.destroy", category: t("material_category.categories.#{@reagent.actable_type.underscore}"))

p = t("material_category.edit.destroy_alert", category: t("material_category.categories.#{@reagent.actable_type.underscore}"))

= link_to t("material_category.edit.destroy", category: t("material_category.categories.#{@reagent.actable_type.underscore}")), reagent_path(@reagent), method: :delete, data: { confirm: t("material_category.edit.destroy_confirmation", category: t("material_category.categories.#{@reagent.actable_type.underscore}"), description: @reagent.name_with_description)}, class: "btn btn-danger"
