h3 = @stock.name

.page-header
  h3 = t("item_category.edit.title", category: t("item_category.categories.#{@item_glassware.material_type.underscore}"), id: @item_glassware.id)

= render 'form'

.page-header
  h3 = t("item_category.edit.remove", category: t("item_category.categories.#{@item_glassware.material_type.underscore}"))

p = t("item_category.edit.remove_alert", category: t("item_category.categories.#{@item_glassware.material_type.underscore}"))

= link_to t("item_category.edit.remove", category: t("item_category.categories.#{@item_glassware.material_type.underscore}")), item_glassware_path(@item_glassware, :stock => @stock), method: :delete, data: { confirm: t("item_category.edit.remove_confirmation", category: t("item_category.categories.#{@item_glassware.material_type.underscore}"), description: @item_glassware.full_description)}, class: "btn btn-danger"
