// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  text-align: center;

  .row {
    margin-top: 5%;
  }

  i {
    color: #4aaaa5;
    vertical-align:middle;
    margin-right: 2%
  }

  a, a:hover {
    color: white;
    text-decoration: none;
  }
}

.panel.panel-danger.alerts {
  color: #000;
  margin-top: 30%;
  height: 30vh;
  border-radius: 15px;
}

.panel-heading {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.lab_info {
  margin: 0;
  margin-top: 30px;
}

.newstock {
  margin-top: 50px;
}

p.description {
  color: #bfd9ff;
  font-size: 17px;
  margin-top: 11px;
  margin-right: 10px;
  float: left;
}

p.edit a {
  color: #4aaaa5;
  margin: 14px 0;
}

p.edit {
  margin: 14px 0;
}

.catalog {
  text-align: center;
  margin-top: 30%;
}

.jumbotron, .container .jumbotron {
    padding-left: 6%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #fff;
    margin-top: 10vh;
    color: #35404f;
    border-radius: 15px;
    text-align: center;

    p {
      font-size: 20px;
      font-weight: normal;
    }

    a.btn {
      background: #960909;
    }

    h3 {
      color: #960909;
    }
}

.jumbotron-wrapper {
  margin-left: 8%;
}
