// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  float: left;
  width: 70%;
  margin-right: 10px;
  border-radius: 15px;
  color: #5E5E5E;
}

.panel-footer {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.stocks {
  margin-top: 5%;
}

.stocks-brand > img {
  width: 40%;
  height: 40%;
  opacity: 0.3;
}
